<div [hidden]="hiding">
  <div class="col-md-12" id="home">
    <div class="col-md-10 mb-9" id="search">
      <button
        class="btn btn btn-primary"
        (click)="getingpt()"
        style="position: absolute; left: 25%"
      >
        New patient
      </button>
      <h5>
        <input id="inpu" class="input" type="text" [(ngModel)]="searchdata" />
      </h5>
    </div>
  </div>

  <div id="table" class="main" id="kk">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">MobileNumb</th>
          <th scope="col">Age</th>
          <th scope="col">Gender</th>
          <th scope="col">RoomNumber</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mm of adding | informfilter : searchdata">
          <td>{{ mm.pfirstname }}</td>
          <td>{{ mm.pphonenumber }}</td>
          <td>{{ mm.page }}</td>
          <td>{{ mm.plastname }}</td>
          <td>{{ mm.proomno }}</td>
          <td>
            <button
              type="submit"
              class="btn btn-primary"
              (click)="editing(mm)"
              style="height: 40px; width: 80%"
            >
              Edit
            </button>
          </td>
          <td>
            <button
              type="submit"
              class="btn btn-primary"
              style="
                background-color: rgba(241, 126, 126, 0.938);
                height: 40px;
                width: 80%;
              "
              (click)="deleting(mm)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button (click)="goToPreviousPage()" class="btn btn-primary">
      previous page
    </button>
    <button class="btn btn btn-primary" (click)="gotonextpage()">
      next page
    </button>
  </div>
</div>
<div class="col-12 md-12" [hidden]="hiding2">
  <div class="main">
    <h1>Edit form</h1>

    <form action="app.js">
      <div class="content">
        <input
          type="text"
          name="pfirstname"
          id="firstName"
          placeholder=" First Name "
          [(ngModel)]="dataEntry.pfirstname"
          #pfirstname="ngModel"
        />
      </div>
      <!-- {{dataEntry.pfirstname}} -->
      <div class="content">
        <input
          type="text"
          name="pphonenumber"
          id="phonenumber"
          placeholder="phone number"
          [(ngModel)]="dataEntry.pphonenumber"
          #pphonenumber="ngModel"
        />
      </div>

      <div class="content">
        <input
          type="number"
          id="email"
          placeholder="Age"
          name="page"
          [(ngModel)]="dataEntry.page"
          #page="ngModel"
        />
      </div>

      <div class="content">
        <input
          type="text"
          id="message"
          placeholder=" gender"
          name="plastname"
          [(ngModel)]="dataEntry.plastname"
          #plastname="ngModel"
        />
      </div>
      <div class="content">
        <input
          type="text"
          id="message"
          placeholder="room no"
          name="proomno"
          [(ngModel)]="dataEntry.proomno"
          #proomno="ngModel"
        />
      </div>

      <div class="content">
        <button class="btn btn-primary" (click)="backing()" id="ol">
          back
        </button>
        <button id="ol" (click)="submiting()">Submit</button>
      </div>
    </form>
  </div>
</div>
<div [hidden]="hiding3">
  <div class="container main">
    <h1>Delete Form</h1>
    <form action="#">
      <div class="form-row">
        <div class="input-data">
          <input
            type="text"
            required
            name="pfirstname"
            #pfirstname="ngModel"
            [(ngModel)]="deletadata.pfirstname"
          />
          <div class="underline"></div>
          <label for="name">Name</label>
        </div>
        <div class="input-data">
          <input
            type="text"
            required
            name="pphonenumber"
            #pphonenumber="ngModel"
            [(ngModel)]="deletadata.pphonenumber"
          />
          <div class="underline"></div>
          <label for="phonenumber">phonenumber</label>
        </div>
      </div>
      <div class="form-row">
        <div class="input-data">
          <input
            type="text"
            required
            name="page"
            #page="ngModel"
            [(ngModel)]="deletadata.page"
          />
          <div class="underline"></div>
          <label for="">Age</label>
        </div>
        <div class="input-data">
          <input
            type="text"
            required
            name="proomno"
            #proomno="ngModel"
            [(ngModel)]="deletadata.proomno"
          />
          <div class="underline"></div>
          <label for="roomno">RoomNo</label>
        </div>
        <br />
        <div class="input-data">
          <input
            type="text"
            required
            name="plastname"
            #plastname="ngModel"
            [(ngModel)]="deletadata.plastname"
          />
          <div class="underline"></div>
          <label for="Age">Gender</label>
        </div>
      </div>
      <div>
        <button (click)="deletingof()"><a>submit</a></button>
        <button
          class="btn btn btn-primary"
          (click)="bas1()"
          style="position: absolute; width: 200px"
        >
          Back
        </button>
      </div>
    </form>
  </div>
</div>
